In [75]:
import sqlite3
from sqlalchemy import create_engine
from datetime import datetime
import os
import numpy as np
import pandas as pd

In [76]:
x = 4

In [77]:
path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Data\neha"
if os.path.isfile(path):
    start = datetime.now()
    conn2 = sqlite3.connect(path)
else:
    x = 67

In [78]:
x

67

In [74]:
pd.read_sql_query (
"""
SELECT * FROM sqlite_master;
""", conn2)

DatabaseError: Execution failed on sql '
SELECT * FROM sqlite_master;
': file is not a database

In [9]:
com = pd.read_sql_query (
"""
SELECT id, first_name, last_name
FROM actors
LIMIT 10""", conn)

DatabaseError: Execution failed on sql '
SELECT id, first_name, last_name
FROM actors
LIMIT 10': no such table: actors

Question 1:
List all the directors who directed a 'Comedy' movie in a leap year. (You need to check that
the genre is 'Comedyâ€™ and year is a leap year) Your query should return director name, the
movie name, and the year.

In [ ]:
director_info = pd.read_sql_query (
    "SELECT Name, Gender FROM Person WHERE PID in (SELECT DISTINCT(PID) FROM M_Director \
    WHERE MID IN (SELECT MID FROM Movie WHERE (year%4=0) and (year%100!=0) or (year%400=0)\
    and MID IN (SELECT MID FROM M_Genre WHERE GID in (SELECT GID FROM Genre WHERE Name Like '%Comedy%'))));", conn)

In [ ]:
movie_info = pd.read_sql_query (
    "SELECT Title, Year FROM Movie WHERE MID in (SELECT MID FROM M_Director WHERE PID IN \
    (SELECT MID FROM Movie WHERE (year%4=0) and (year%100!=0) or (year%400=0) and \
    MID IN (SELECT MID FROM M_Genre WHERE GID in (SELECT GID FROM Genre WHERE Name Like '%Comedy%'))))", conn)

In [ ]:
pd.read_sql_query ("SELECT p.name, m.title, m.year, g.Name FROM Movie m, M_Director md, Genre g, M_Genre mg, Person p ON \
m.MID = md.MID AND g.Name LIKE '%Comedy%' AND md.PID = p.PID AND m.year%4=0 GROUP BY p.name, m.title", conn)

List of all the actors who oplayed a role in ANAND 1971

In [4]:
pd.read_sql_query (
    "SELECT Name,Gender from Person WHERE PID in (SELECT PID FROM M_Cast WHERE MID in (SELECT MID FROM Movie WHERE title='Aadmi'))", conn)

Empty DataFrame
Columns: [name, gender]
Index: []

In [6]:
pd.read_sql_query("select p.Name,m.title,m.year from Movie m , M_Cast mc, Person p where m.MID=mc.MID \
                  and mc.PID=p.PID and m.year<1970; ",conn)

Empty DataFrame
Columns: [name, title, year]
Index: []

In [ ]:
com = pd.read_sql_query ("""
SELECT Name 
FROM Person
WHERE PID IN
    (SELECT PID
    FROM M_Director
    WHERE MID IN
        (SELECT MID 
        FROM M_genre
        WHERE GID IN
            (SELECT GID
            FROM Genre 
            WHERE Name = "%Comedy%" LIMIT 10)));""", conn)